<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en"> <!--seller Anasayfa-->
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles/main.css">
</head>

<style>
    body{
        font-family: Montserrat, sans-serif;
        background: #262b2b;
    }
    .buton{
        background-color: #eab354;
    }
    .buton:hover
    {
        background-color:  #262b2b;
    }
    .ico:hover{
        background-color: #5f787b;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }

</style>
<body class="bg-cover relative bg-center h-screen bg-fixed">
    <div class="dropdown m-2 absolute text-base right-0 mr-6">
        <button class="bg-gray-300 text-gray-700 py-2 px-4 rounded inline-flex items-center">
            <span class="mr-1 text-base">Hesap</span>
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
        </button>
        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
            <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="login">Anasayfa</a></li>
            <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="logout">
                Çıkış
                <form id="logout-form" action="logout" method="POST" style="display: none;">

                </form>
            </a></li>
        </ul>
    </div>
    <div class="flex flex-row " >

        <div  class="lg:w-1/4 ">
            <div >
                <div class="text-center mt-6">
                    <div class="flex flex-row justify-center mb-4">


                    </div>
                    <p class="text-white ">{{nameSurname[0]}} {{" "}} {{nameSurname[1]}}</p>
                </div>
            </div>

        </div>
        <div class="bg-grey-lighter min-h-screen ml-32 flex flex-col w-1/3">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <form action="#" method="POST">
                    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                        <h1 class="mb-8 text-3xl text-center">Profil Düzenle</h1>
                        <input
                                type="text"
                                class="block border border-grey-light w-full p-3 rounded mb-4"
                                name="name"
                                placeholder="İsim" 
                                required/>
                        <input
                                type="text"
                                class="block border border-grey-light w-full p-3 rounded mb-4"
                                name="surname"
                                placeholder="Soyisim" 
                                required/> 
                         <input
                                type="text"
                                class="block border border-grey-light w-full p-3 rounded mb-4"
                                name="phone"
                                placeholder="Tel No" 
                                required/> 
                        <button
                                type="submit"
                                class="w-full text-center py-3 rounded bg-black text-white hover:bg-green-dark  my-1"
                        >Profili Düzenle</button>

                    </div>
                </form>

            </div>
        </div>

    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>
